/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



label.error 
{
    font-size: 10px !important;
    margin-top: -10px;
    font-style: italic;
    color: #AAA;
}


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width : 254px) and (max-width : 499px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 254px;
    }
}

@media only screen and (min-width : 500px) and (max-width : 745px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 500px;
    }
}

@media only screen and (min-width : 746px) and (max-width : 991px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 746px;
    }
}

@media only screen and (max-width : 1024px) {
    html body #lista-produtos #produto
    {
        height: 292px;
        margin: 27px 6px;
    }

    html body #lista-produtos #produto figure
    {
        height: 247px;
    }

    html body #lista-produtos #produto #menu
    {
        bottom: 0;
    }

    html body #lista-produtos #produto #preco
    {
        bottom: 32px;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1238px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 992px;
    }
}

@media only screen and (min-width : 1239px) and (max-width : 1483px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 1238px;
    }
}

@media only screen and (min-width : 1484px) and (max-width : 1729px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 1484px;
    }
}

@media only screen and (min-width : 1730px) and (max-width : 1920px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 1730px;
    }
}

@media only screen and (min-width : 1921px) {
    #lista-produtos ul
    {
        /*width: 1730px; tirar a largura no layout definitivo*/
        width: 2170px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


h1, h2, h3, h4, h5, h6
{
    font-family: "STYMIEXB", "Times New Roman", Serif !important;
    font-weight: normal !important;
}


@font-face{
    font-family: "STYMIEXB";
    src: url(fonts/STYMIEXB.eot);
    src: url(fonts/STYMIEXB.ttf) format("truetype");
}

@font-face{
    font-family: "covered";
    src: url(fonts/Covered_By_Your_Grace.ttf) format("truetype");
}

@font-face{
    font-family: "MinionBold";
    src: url(fonts/MinionProBold.otf) format("opentype");
}




.animado-02-in-out
{
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}











body
{
    background: url(img/trilha-banner.jpg) no-repeat fixed top right;
}

body#body-loja
{
    background: none;
}

body #trilha #header
{
    background: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#trilha h1,
#trilha h2
{
    color: #ba8b4a;
    font-size: 25px;
    margin-top: 0;
}

#trilha h2
{
    font-size: 20px;
}

#trilha p
{
    font-size: 13px;
    color: #666666;
}

#trilha #header #menu
{
    height: 79px;
    font-family: "STYMIEXB", "Times New Roman", Serif !important;
    font-size: 14px;
}

#trilha #header #menu #logo
{
    float: left;
    text-indent: -9995px;
    width: 119px;
    height: 60px;
    background: url(img/trilha-logo.jpg);
    margin-top: 10px;
    margin-left: 10px;
}

#trilha #header #menu nav
{
}

#trilha #header #menu nav > ul
{
    float: right;
    margin: 0;
    margin-top: 27px;
}

#trilha #header #menu nav ul #hi
{
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
}

#trilha #header #menu nav .nav li
{
    display: inline-block;
    float: left;
}

#trilha #header #menu nav .nav ul
{
    margin-top: 0;
}

#trilha #header #menu nav .nav li.dropdown:after
{
    width: 0;
    height: 0;
    content: '';
    display: block;
    float: right;
    position: relative;
    left: -10px;
    top: -2px;
    margin-top: -8px;
    margin-right: -8px;
    border: 4px solid #b88b4f;
    border-top-color: transparent;
    border-left-color: transparent;
}

#trilha #header #menu nav ul li a
{
    color: #848484;
    text-decoration: none;
    display: inline-block;
    padding: 20px 25px 13px 25px;
}

#trilha #header #menu nav ul .dropdown-menu li a
{
    width: 65px;
}

#trilha #header #menu nav ul .dropdown-menu li a:hover,
#trilha #header #menu nav ul .dropdown-menu li a:focus
{
    color: white;
}

#trilha #header #menu nav ul li:hover
{
    background: url(img/trilha-sombra-menu-hover.jpg) no-repeat;
    background-size: 100% 53px;
}




#trilha #banner
{
    height: 455px;
}



#trilha #bg-topo
{
    background: url(img/trilha-bg-dourado.jpg);
    border-top: 1px solid #c19652;
    height: 20px;
    margin-top: -1px;
}

#trilha #bg-sombra-topo
{
    background: url(img/trilha-sombra-superior.jpg);
    height: 10px;
}




#trilha #wrap-home
{
    padding-top: 75px;
    padding-bottom: 175px;
    background: white;
}

#trilha #wrap-home img
{
    margin: 20px 0 0 0px;
}

#trilha #wrap-home #atalho
{
    margin-bottom: 40px;
}

#trilha #wrap-home #atalho a
{
    background: #00538c;
    color: white;
    padding: 5px 20px 5px 10px;
    display: inline-block;
}

#trilha #wrap-home #atalho a i
{
    margin-right: 5px;
}



#trilha #bg-sombra-base
{
    background: url(img/trilha-sombra-inferior.jpg);
    height: 10px;
}

#trilha #bg-base
{
    background: url(img/trilha-bg-dourado.jpg);
    min-height: 65px;
    border-bottom: 1px solid #c19652;
    margin-bottom: -1px;
    text-align: center;
    font-size: 11px;
}

#trilha #bg-base p
{
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
    font-size: 11px;
}

#trilha #bg-base span
{
    color: #ffebcc;
}

#trilha #bg-sombra-base.loja
{
    background: url(img/trilha-sombra-inferior-loja.jpg);
    height: 10px;
}

#trilha #bg-base.loja
{
    background: #002a53;
    height: auto;
}

#trilha #bg-base.loja ul
{
    list-style-image: url(img/trilha-bullet-menu-footer.jpg);
    margin-top: 10px;
    margin-bottom: 30px;
}

#trilha #bg-base.loja ul li
{
    display: inline-block;
    color: #8d97a5;
}

#trilha #bg-base.loja ul li:after
{
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    display: block;
    margin-top: -12px;
    margin-left: -4px;
}

#trilha #bg-base.loja ul li:first-child:after
{
    list-style: none;
    background: none;
}

#trilha #bg-base.loja ul li a
{
    color: #8d97a5;
    padding: 10px 20px;
    margin: 0;
}

#trilha #bg-base.loja ul li a:hover,
#trilha #bg-base.loja ul li a:focus
{
    color: white;
}


/*==============================SOBRE TRILHA / HI ==============================*/

#trilha #wrap-trilha,
#trilha #wrap-hi,
#trilha #wrap-contato
{
    padding-top: 50px;
    padding-bottom: 150px;
    background: white;
}

#trilha #wrap-trilha h1,
#trilha #wrap-hi h1
{
    margin-bottom: 70px;
}

#trilha #wrap-trilha p,
#trilha #wrap-hi p
{
    margin-bottom: 20px;
}

#trilha #wrap-trilha img
{
    margin-top: 79px;
}

/*==============================FIM SOBRE TRILHA==============================*/




/*==============================SOBRE HI==============================*/
#trilha #wrap-hi h2
{
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
}

#trilha #placar
{
    background: url(img/trilha-bg-placar.jpg);
    padding: 0 0 20px 0;
}

#trilha #placar canvas
{
    margin: 40px auto 0;
    display: block;
}

#trilha #placar h3
{
    text-align: center;
    color: #b88b4f;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -2px;
}

#trilha #placar p
{
    line-height: 8px;
    color: white;
    font-size: 14px;
    text-align: center;
}

#trilha #placar p span
{
    color: #a17740;
    text-transform: uppercase;
    font-weight: bold;
}

/*==============================FIM HI==============================*/





/*==============================CONTATO==============================*/
#trilha #contato
{
    padding-top: 50px;
    background: white;
}

#trilha #contato h1
{
    margin-bottom: 0;
}

#trilha #wrap-contato
{
    margin-top: 60px;
}

#trilha #wrap-contato p
{
    margin-bottom: 15px;
}

#trilha #wrap-contato span
{
    color: #a87e3b;
    font-weight: bold;
    font-size: 13px;
}


#trilha #wrap-contato form
{
    float: right;
    text-align: right;
    color: #999999;
}

#trilha #contato #wrap-contato #formulario
{
    height: 390px;
    position: relative;
}

#trilha #contato #wrap-contato #formulario .alert
{
    text-align: right;
    display: none;
}

#trilha #wrap-contato img
{
    position: absolute;
    top: -55px;
    right: 0;
    z-index: 100;
}

#trilha #wrap-contato form label
{
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
}

#trilha #wrap-contato form input,
#trilha #wrap-contato form textarea
{
    height: 30px;
    background: #a87e3b;
    border: none;
    color: white;
    border-radius: 3px 0 0 3px;
}

#trilha #wrap-contato form #input-nome
{
    width: 138px;
}
#trilha #wrap-contato form #input-email
{
    width: 221px;
}

#trilha #wrap-contato form #input-mensagem
{
    width: 303px;
    height: 110px;
    resize: none;
}

#trilha #wrap-contato form input[type="submit"]
{
    width: 82px;
    height: 30px;
    background: #00548e;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px 0 0 3px;
}


/*===============================HOME LOJA===============================*/

/*==============================LOJA=============================*/

.font22
{
    font-size: 22px;
}

#wrap-cart
{
    background: #004990;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 0 10px;
    /*box-shadow: 0 2px 15px #072868, 0 50px 1550px #153779; colocado por JQuery*/
    border-bottom: 1px solid #072868;
    overflow: hidden;
    height: 0;
    z-index: 200;
}

#wrap-cart #wrap-titulo-cart
{
    background: #003a73;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    font-family: 'covered', cursive;
}

#wrap-cart #wrap-titulo-cart #icone
{
    background: url(img/trilha-icon-carrinho.png) no-repeat center;
    width: 15px;
    height: 44px;
    display: block;
}

#wrap-cart #wrap-titulo-cart h2
{
    line-height: 50px;
    margin-top: 0 !important;
    color: white;
    font-size: 22px;
    font-family: 'covered', cursive !important;
}

#wrap-cart #wrap-titulo-cart #display
{
    font-family: 'covered', cursive;
    color: #aacae9;
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
}

#wrap-cart #wrap-titulo-cart #display span
{
    color: white;
}

#wrap-cart #wrap-titulo-cart #btn-fechar
{
    text-indent: -9999px;
    background: url(img/trilha-icone-btn-fechar-carrinho.jpg) #003a73 center no-repeat;
    border: none;
    width: 30px;
    height: 30px;
}

#wrap-cart #produtos-cart ul
{
    list-style: none;
}

#wrap-cart #produtos-cart li,
#wrap-cart #total #fundo
{
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 2px #072868;
    height: 59px;
    line-height: 58px;
}

#wrap-cart #produtos-cart li
{
    margin: 0 0 12px;
    padding: 0;
}

#wrap-cart #produtos-cart li #wrap-remover
{
    text-align: center;
}

#wrap-cart #produtos-cart li button
{
    text-indent: -9999px;
    background: url(img/trilha-icone-btn-excluir-produto-carrinho.png) center top;
    width: 30px;
    height: 30px;
    border: 0;
}

#wrap-cart #produtos-cart li button:hover
{
    background-position: center bottom;
}

#wrap-cart #produtos-cart li #descricao
{
    margin-left: 5px;
}

#wrap-cart #produtos-cart li #descricao p
{
    font-size: 15px;
    color: #9097a2;
}

#wrap-cart #produtos-cart li #descricao p span
{
    color: #404a58;
    font-weight: bold;
    margin-right: 10px;
}

#wrap-cart #produtos-cart li #preco
{
    color: #3b74b8;
    font-size: 12px;
    font-weight: bold;
    background: url(img/trilha-tracejado-preco-carrinho.jpg) repeat-y;
    padding-left: 20px;
}

#wrap-cart #produtos-cart li #preco span
{
    font-size: 15px;
    vertical-align: middle;
}

#wrap-cart #total
{
    background: url(img/trilha-linha-total-carrinho.jpg) repeat-x;
    padding-top: 27px;
    padding-bottom: 10px;
}

#wrap-cart #total #fundo
{
    height: 78px;
    line-height: 78px;
}

#wrap-cart #total #wrap-total p
{
    text-align: center;
    font-weight: bold;
    color: #3b74b8;
    font-size: small;
    vertical-align:top;
}

#wrap-cart #total #wrap-total p #tag-preco
{
    font-style: italic;
    font-size: 17px;
    color: #404a58;
    font-size: normal;
    vertical-align: sub;
    margin-right: 5px;
}

#wrap-cart #total #wrap-total p #preco
{
    font-size: 22px;
    vertical-align: middle;
}

#wrap-cart #total #wrap-btns
{
    text-align: right;
}

#wrap-cart #total #wrap-btns button
{
    width: 153px;
    height: 37px;
    background: url(img/trilha-bg-btn-continuar.png) center top no-repeat;
    border: none;
    font-family: 'covered', cursive;
    text-shadow: 0 1px 0 white;
    font-size: 17px;
    color: #878787;
}

#wrap-cart #total #wrap-btns button:hover
{
    background-position: center bottom;
    color: white;
    text-shadow: 0 1px 0 #0d2b51;
}

#wrap-cart #total #wrap-btns a
{
    width: 151px;
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    line-height: 43px;
    padding: 0;
    text-align: center;
    background: url(img/trilha-bg-btn-finalizar.png) center top no-repeat;
    font-family: 'covered', cursive;
    text-shadow: 0 1px 0 #0d2b51;
    font-size: 17px;
    color: white;
    margin: 0 18px;
}

#wrap-cart #total #wrap-btns a:hover
{
    text-decoration: none;
    background-position: center bottom;
}

#bg-resultado-busca
{
    height: 60px !important;
    line-height: 60px;
}

#bg-resultado-busca p
{
    color: #b8c4d7;
}

#bg-resultado-busca p span
{
    color: white;
    font-style: italic;
}









#header-loja
{
    padding-top: 80px;
    background: url(img/trilha-bg-header-loja.jpg) center no-repeat;
    background-size: 100% 123px;
    height: 43px;
    border-bottom: 1px solid #003466;
    color: white;
    line-height: 43px;
    font-style: italic;
}

#header-loja form
{
    float: left;
    width: 77%;
    margin-bottom: 0;
}

#header-loja form label
{
    margin-left: 22px;
    margin-right: 5px;
    font-size: 12px;
}

#header-loja form #label-login
{
    margin-left: 31px;
}


#header-loja form input
{
    color: #004990;
    font-style: italic;
}

#header-loja form input[type="text"],
#header-loja form input[type="password"]
{
    height: 15px;
    width: 21.2%;
    font-size: 12px;
}

#header-loja form input[type="submit"]
{
    background: url(img/trilha-seta-login.png) no-repeat center;
    border: none;
    text-indent: -9999px;
    padding: 5px 15px;
}


#header-loja #cadastrar
{
    height: 43px;
    width: 20.7%;
    margin-left: 2%;
    float: left;
    text-decoration: none;
    background: #004282;
    border-right: 1px solid #002b56;
}


#header-loja a p img
{   
    margin-right: 10px;
    margin-bottom: 4px;
}

#header-loja a p
{
    color: white;
    text-align: center;
}

#header-loja #carrinho-fechado
{
    cursor: pointer;
    background: #004990;
    margin-left: 0;
    height: 43px;
}

#header-loja #carrinho-fechado #icon-carrinho
{
    padding-left: 2.564102564102564%;
    text-align: right;
    border-left: 1px solid #006690;
}

#header-loja #carrinho-fechado #texto-carrinho
{
    text-align: center;
}

#header-loja #carrinho-fechado #texto-carrinho p
{
    font-family: "covered", cursive;
    color: #aacae9;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
}

#header-loja #carrinho-fechado #texto-carrinho span
{
    color: white;
}

#header-loja #carrinho-fechado #icon-seta-carrinho
{
    border-right: 1px solid #006290;
}



#header-loja #icons-header
{
    margin-left: 0;
    width: 10.6%;
    text-align: right;
    border-left: 1px solid #000875;
}

#header-loja #icons-header img
{
    display: inline-block;
}

#header-loja #icons-header #icon-face
{
    margin-right: 6.564103%;
}

/*======================================================*/


#categorias
{
    height: 148px;
    background: url(img/trilha-bg-categorias.jpg);
    font-family: "covered", cursive;
}

#categorias ul
{
    height: 148px;
    text-align: center;
    list-style: none;
}

#categorias ul li
{
    width: 16.2%;
    height: 128px;
    background: #2475c4;
    margin-left: 0.564103%;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 10px #98a7cb;
    text-decoration: none;
    margin-top: 10px;
}

#categorias a
{
    width: 100%;
    height: 128px;
    line-height: 50px;
    display: block;
    float: left;
    text-decoration: none;
}

#categorias a img
{
    padding-top: 31px;
}

#categorias a p
{
    color: white;
    font-size: 22px;
}

/*==============================FIM HEADER LOJA=============================*/


#carousel .item
{
    text-align: center;
}

#carousel #textos-carousel,
#carousel #imagens-carousel
{
    display: inline-block;
}

#carousel #textos-carousel
{
    margin-left: 5%;
    font-family: "covered", cursive !important;
    width: 34%;
}

#carousel #textos-carousel h2
{
    font-family: "covered", cursive !important;
    font-size: 30px;
    color: #b60000;
    margin: 8% 0 0 0;
    text-align: left;
}

#carousel #textos-carousel #descricao
{
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    text-align: left;
    margin-top: -4px;
}

#carousel #textos-carousel #preco
{
    font-size: 27px;
    color: #004990;
    margin-top: 38%;
    text-align: right;
}
#carousel #textos-carousel #preco span
{
    font-size: 60px;
    display: inline-block;
    vertical-align: -67%;
}

#carousel #imagens-carousel
{
    margin: 16px 9px 10px 0;
    float: right;
    width: 59%;
}

#carousel #imagens-carousel img
{
    width: 53.1%;
}

#carousel #imagens-carousel #img-02
{
    width: 35.5%;
    margin-left: -1%;
}


#bg-marcadores,
#bg-resultado-busca
{
    height: 37px;
    background: #004990;
    border-bottom: 1px solid #003466;
}



#paginacao
{
    height: 73px;
    line-height: 73px;
    background: url(img/trilha-bg-paginacao.jpg);
}

#paginacao ul
{
    list-style: none;
    display: inline-block;
}

#paginacao ul li,
#paginacao ul a
{
    display: inline-block;
    text-decoration: none;
    color: #004990;
    font-size: 12px;
}

#paginacao ul .anterior,
#paginacao ul .proxima
{
    width: 17px;
    height: 18px;
    text-indent: -99999px;
}

#paginacao ul .anterior
{
    background: url(img/trilha-icon-pagina-anterior.png);
    margin-right: 16px;
}

#paginacao ul .proxima
{
    background: url(img/trilha-icon-proxima-pagina.png);
    margin-left: 16px;
}

#paginacao ul .numeracao
{
    width: 22px;
    height: 23px;
    background: url(img/trilha-icon-numeração-pagina.png) center no-repeat;
    text-align: center;
    padding: 8px 5px 5px;
}

#paginacao #paginas
{
    text-align: center;
}

#paginacao #itens-pagina,
#paginacao #itens-pagina img,
#paginacao #itens-pagina p,
#paginacao form
{
    display: inline-block;
}


#paginacao #itens-pagina p
{
    text-align: center;
    font-style: italic;
    color: #004990;
}

#paginacao #itens-pagina select
{
    width: 70px;
    vertical-align: baseline;
    margin-left: 10px;
    font-weight: bold;
    color: #004990;
    border: 0 solid #b2bfcc;
    border-bottom-width: 1px;
}

#paginacao .form-search .input-append
{
    text-align: center;
}

#paginacao .form-search input,
#paginacao .form-search button
{
    font-weight: bold;
    color: #004990;
    border: 0 solid #b2bfcc;
    border-bottom-width: 1px;
}

#paginacao .form-search button
{
    height: 30px;
    background: white;
    vertical-align: middle;
}

#paginacao .form-search button:hover
{
    background: #f5f5f5;
}






#lista-produtos,
.bg-caderno
{
    background: url(img/trilha-bg-caderno.jpg);
}

#lista-produtos ul
{
    /*width: 1730px; tirar a largura no layout definitivo*/
    list-style: none;
    margin: 10px auto 20px;
}

#lista-produtos ul #produto
{
    box-shadow: 0 0 5px #bbb;
    float: left;
    margin: 7px 6px;
    width: 220px;
    height: 270px;
    padding: 7px;
    background: white;
}

.foto-produto
{
    overflow: hidden;
    position: relative;
}

#lista-produtos ul #produto figure
{
    width: 220px;
    height: 215px;
}

#lista-produtos ul #produto figure #wrap-imgs
{
    width: 440px;
}

#lista-produtos ul #produto:hover figure #wrap-imgs #foto
{
    margin-left: -220px;
}

#lista-produtos ul #produto .foto-produto #desconto,
#lista-produtos ul #produto .foto-produto #carrinho,
#lista-produtos ul #produto .foto-produto #new
{
    display: none;
}

#lista-produtos ul #produto #foto,
#lista-produtos ul #produto #zoom,
#lista-produtos ul #produto .foto-produto #desconto,
#lista-produtos ul #produto .foto-produto #carrinho,
#lista-produtos ul #produto .foto-produto #new,
#lista-produtos ul #produto #menu,
#lista-produtos ul #produto #preco
{
    position: absolute;
    z-index: 2;
}

#lista-produtos ul #produto #foto,
#lista-produtos ul #produto #zoom
{
    z-index: 1;
    left: 0;
    top: 0;
}

#lista-produtos ul #produto #zoom
{
    z-index: 0;
}

#lista-produtos ul #produto .foto-produto #desconto
{
    width: 58px;
    height: 58px;
    background: url(img/trilha-bg-icone-desconto.png);
    left: 0;
    top: 0;
}

#lista-produtos ul #produto .foto-produto #desconto p
{
    color: white;
    font-weight: bold;
    -webkit-transform:  rotate(-45deg);
    -moz-transform:     rotate(-45deg);
    -o-transform:       rotate(-45deg);
    -ms-transform:      rotate(-45deg);
    margin-top: -2px;
    margin-left: 2px;
}

#lista-produtos ul #produto .foto-produto #carrinho
{
    width: 42px;
    height: 42px;
    background: url(img/trilha-icone-dentro-do-carrinho.png);
    right: 0;
    top: 0;
}

#lista-produtos ul #produto .foto-produto #new
{
    width: 47px;
    height: 47px;
    background: url(img/trilha-icone-novo.png);
    left: 0;
    bottom: 0;
}

#lista-produtos ul #produto #menu
{
    left: 0;
    bottom: -32px;
    background: white;
}

#lista-produtos ul #produto:hover #menu
{
    bottom: 0;
}

#lista-produtos ul #produto #menu li
{
    float: left;
}

#lista-produtos ul #produto #menu a,
#lista-produtos ul #produto #menu button
{
    text-indent: -9999px;
    display: block;
    width: 22px;
    height: 22px;
    border: none;
    padding: 0 26px;
}

#lista-produtos ul #produto #menu button
{
    border-left: 1px solid #b00202;
    padding: 0 36px;
}

#lista-produtos ul #produto #menu #btn-ver
{
    background: url(img/trilha-icone-btn-ver-produto.png) no-repeat center top;
}

#lista-produtos ul #produto #menu #btn-ver:hover
{
    background-position: center bottom;
}

#lista-produtos ul #produto #menu #btn-add
{
    background: url(img/trilha-icone-btn-add-carrinho.png) no-repeat center top;
}

#lista-produtos ul #produto #menu #btn-add:hover
{
    background-position: center bottom;
}

#lista-produtos ul #produto #menu #btn-compartilhar
{
    background: url(img/trilha-icone-btn-compartilhar.png) no-repeat center top;
}

#lista-produtos ul #produto #menu #btn-compartilhar:hover
{
    background-position: center bottom;
}

#lista-produtos ul #produto #preco
{
    background: white;
    height: 35px;
    right: 0;
    bottom: 0;
    padding: 0 0 0 10px;
    line-height: 35px;
}

#lista-produtos ul #produto:hover #preco
{
    bottom: 32px;
}

#lista-produtos ul #produto #preco p
{
    font-family: 'covered';
    font-size: 18px;
    color: #4995d7;
}

#lista-produtos ul #produto #preco p span
{
    vertical-align: -9px;
    font-size: 35px;
}

#lista-produtos ul #produto #descricao
{
    margin-top: 10px;
}

#lista-produtos ul #produto #descricao h2
{
    font-family: 'MinionBold', 'Times New Roman', serif !important;
    font-size: 16px;
    color: #333;
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 15px;
}

#lista-produtos ul #produto #descricao p
{
    font-style: italic;
    color: #666;
    line-height: 11px;
}





#ver-produto .container
{
    background: white;
    box-shadow: 0 0 5px #bbb;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#ver-produto .foto-produto
{
    width: 468px;
    height: 457px;
    margin-left: 10px;
}

#ver-produto .foto-produto ul,
#ver-produto #miniaturas
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#ver-produto #miniaturas
{
    margin-top: 10px;
    margin-left: 10px;
}

#ver-produto #miniaturas li
{
    margin: 0 16px 0 0;
    display: inline;
    width: 100px !important;
    height: 99px !important;
    padding: 0;
}

#ver-produto #compartilhe
{
    margin: 50px 0 50px 10px;
    line-height: 50px;
    background: #fafafa;
}

#ver-produto #compartilhe h3
{
    float: left;
    font-family: 'MinionBold', 'Times New Roman', serif !important;
    color: white;
    background: #999;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 10px;
    margin: 0 40px 0 0;
}

#ver-produto #compartilhe .fb-like
{
    height: 25px;
}

#ver-produto #compartilhe .twitter-share-button
{
    vertical-align: middle;
}
